table, td, th {
  border: 1px solid black;
}
#table1 {
  border-collapse: collapse;
}
#table1{
  width: 1000px;
  margin:auto;
  margin-top: 25px;
  margin-bottom:10px;
  table-layout: fixed;
}
#table1 th {
color: black;
text-align: center;
font-size: 20px;
padding: 17px;
font-family: Arial;
}

#table1 td {
color: black;
text-align: center;
font-size: 17px;
padding: 17px 20px;
font-family: Arial;
}
#table h4{
  color: #9C0051;
  text-align: center;
  padding-top: 10px;
}
th:nth-child(even) {background-color: #E33258}
th:nth-child(odd) {background-color: #D2D4DD}
td:nth-child(even) {background-color: #E33258}
td:nth-child(odd) {background-color: #D2D4DD}
