h3{
  color: #9C0051;
  text-align: center;
  font-size: 22px;
  font-style: bold;
}
#lines{
  margin-top: 50px;
}
#lines .line{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}
#marks{
  margin-top: 50px;
}
#marks .mark{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}
#monuments{
  margin-top: 50px;
}
#monuments .monument{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}
