h1 {
  color:pink;
  font-family:Arial;
  font-style:oblique;
  font-size:20px;
}
h2{
  color: red;
  font-family:Arial;
  font-style:oblique;
  font-size:20px;
}
p {
  color:black;
  font-family:Arial;
  font-size:16px;
}
ul {
  color:blue;
  font-family:Arial;
  font-size:16px;
  }
h3 {
  color:green;
  font-family: Arial;
  font-style: oblique;
  font-size: 20px;
}
